.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    display: block
    }
.calibre3 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre4 {
    height: 454px;
    width: 562px
    }
.calibre5 {
    height: 203px;
    width: 482px
    }
.calibre6 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre7 {
    display: list-item
    }
.calibre8 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre9 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre10 {
    height: 353px;
    width: 617px
    }
.calibre11 {
    height: 281px;
    width: 618px
    }
.calibre12 {
    height: 247px;
    width: 618px
    }
.calibre13 {
    height: 254px;
    width: 618px
    }
.calibre14 {
    height: 428px;
    width: 594px
    }
.calibre15 {
    height: 312px;
    width: 618px
    }
.calibre16 {
    height: 230px;
    width: 620px
    }
.calibre17 {
    height: 464px;
    width: 600px
    }
.calibre18 {
    height: 352px;
    width: 617px
    }
.calibre19 {
    height: 373px;
    width: 616px
    }
.calibre20 {
    font-style: italic
    }
.calibre21 {
    text-decoration: underline
    }
